Package: com.congcq.hynisloader
Name: HynisLoader
Version: 1.4.3
Architecture: iphoneos-arm
Description: Minecraft: Bedrock Edition tweak for iOS device that allow load RenderDragon Shader from Global Resource Packs.
Maintainer: congcq
Author: congcq
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
